<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col col-form-label">First Name<span class="required">*</span></label>
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter title here" name="title" #title="ngModel" [(ngModel)]="tilte" />

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col col-form-label">Last Name<span class="required">*</span></label>
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter title here" name="title" #title="ngModel" [(ngModel)]="tilte" />

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col col-form-label">Email<span class="required">*</span></label>
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter title here" name="title" #title="ngModel" [(ngModel)]="tilte" />

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col col-form-label">Address<span class="required">*</span></label>
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter title here" name="title" #title="ngModel" [(ngModel)]="tilte" />

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col col-form-label">Address1<span class="required">*</span></label>
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter title here" name="title" #title="ngModel" [(ngModel)]="tilte" />

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col col-form-label">City<span class="required">*</span></label>
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter title here" name="title" #title="ngModel" [(ngModel)]="tilte" />

            </div>
        </div>
    </div>
</div>
<div class="row">
    <button style="float: right;" type="button" (click)="onSave()" color="primary"> Save </button>
</div>